@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext';

$bgColor:#22222b;
$navColor:#edad61;
$primaryColor:#2f2f3a;
$fontColor:#a3acbe;
$borderColor:#4d505c;
$darkBorderColor:#40404a;

h1,h2,h3,p,ul{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    background-color: #ffffff;
}
.widget{
    position: relative;
    box-shadow: 0 10px 25px #22222b;
    border-radius: 20px;
    max-width: 400px;
    margin: 20px auto;
    background-color: $bgColor;
    .nav{
        position: relative;
        z-index: 2;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
        background-color: $navColor;
        button{
            cursor: pointer;
            outline: none;
            img{
                max-height: 30px;
            }
            svg{
                transition: 200ms ease;
                width: 30px;
                height: 30px;
                fill: #fff;
            }
            &.active{
                svg{
                    transform: rotate(45deg)
                }
            }
        }
    }
    .radioList{
        position: relative;
        z-index: 2;
        padding: 20px 40px;
        background-color: $primaryColor;
        border-bottom: 1px solid $borderColor;
        .radioItem{
            padding: 10px 0;
            width: 100%;
            >div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                span{
                    font-size: 22px;
                    color: $fontColor;
                }
                &.frequencyChanger{
                    span{
                        background-size: cover;
                        background-position: center;
                        border: 1px solid #a2abbd;
                        border-radius: 50%;
                        overflow: hidden;
                        width: 150px;
                        height: 150px;
                        margin: auto;
                        display: block;
                    }
                    max-height: 0;
                    overflow: hidden;
                    transition: 300ms;
                    button{
                        cursor: pointer;
                        outline: none;
                        width:40px;
                        height:40px;
                        svg{
                            fill: $fontColor;
                        }
                    }
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid $darkBorderColor;
            }
            &.active{
                .frequencyChanger{
                    margin: 10px auto;
                    max-height: 180px;
                }
            }
        }
    }
    .bottomHub{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $bgColor;
        position: relative;
        z-index: 2;
        padding: 15px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 28px;
            color: $fontColor;
        }
        h3{
            font-size: 13px;
            color: $navColor;
            text-transform: uppercase;
        }
    }
    .addRadio{
        opacity: 0;
        transition: 300ms;
        z-index: 1;
        width: 400px;
        position: absolute;
        right: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        top: 60px;
        background-color: $bgColor;
        overflow: hidden;
        .head{
            padding: 10px 0;
            background-color: $navColor;
            h1{
                text-align:center;
                font-size: 22px;
            }
        }
        .body{
            text-align: center;
            padding: 20px;
            label{
                display: block;
                color: #fff;
                input[type="text"], input[type="number"]{
                    appearance: textfield;
                    width: 90%;
                    display: block;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid $borderColor;
                    outline: none;
                    padding: 7px 13px;
                    color: $fontColor;
                    text-align: center;
                    font-weight: 700;
                    font-size: 18px;
                    &::-webkit-inner-spin-button, 
                    &::-webkit-outer-spin-button { 
                      -webkit-appearance: none; 
                      margin: 0; 
                    }
                    &::placeholder{
                        color:#c72323;
                    }
                }
                &:first-child{
                    margin-bottom: 15px;
                }
            }

        }
        &.active{
            opacity: 1;
            right: -400px;
        }
    }
}
button{
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
}
h1{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}
.tuner{
    position: relative;
    .choosenFrequency{
        font-size: 18px;
        color: $fontColor;
        padding-bottom: 15px;
    }
    input[type=range]{
        height: 36px;
        position: absolute;
        left: -1px;
        bottom: 0;
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
        }
        &:focus {
          outline: none;
        }
        &::-ms-track {
          width: 100%;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
        }
        &::-webkit-slider-thumb {
            height: 36px;
            width: 2px;
            border-radius: 3px;
            background: #ec0000;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            height: 36px;
            width: 2px;
            border-radius: 3px;
            border: none;
            background: #ec0000;
            cursor: pointer;
        }
        &::-ms-thumb {
            height: 36px;
            width: 2px;
            border-radius: 3px;
            background: #ec0000;
            cursor: pointer;
        }
    }
    .ruler{
        display: flex;
        width: 100%;
        border-bottom: 2px solid $borderColor;
        div{
            width: 10%;
            height: 30px;
            display: flex;
            align-items: flex-end;
            border-right: 1px solid $borderColor;
            &:first-child{
                border-left: 1px solid $borderColor;
             }
            span{
                height: 15px;
                width: 10%;
                &:first-child{
                    border-left: 1px solid $darkBorderColor;
                 }
                &:not(:last-child){
                   border-right: 1px solid $darkBorderColor;
                }
            }
        }
    }
    .small{
        font-size: 12px;
        padding-bottom: 10px;
    }
}
.btn{
    transition: opacity 1s;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 8px;
    background-color: $navColor;
    padding: 10px 40px;
    max-height: 100px;
    color: #fff;
    opacity: 1;
    &:disabled{
        opacity: 0;
        margin-top: 0;
        background-color: #ccc;
        max-height: 0;
        padding: 0;
        overflow: hidden;
    }
}
@media (max-width:1280px){
    .widget{
        margin: 20px 50px;
    }
}
@media (max-width:900px){
    .widget{
        .addRadio{
            border-radius: 20px;
            top: 130px;
            width: 90%;
            right: 20px;
            &.active{
                right: 0;
                left: 0;
                margin: auto;
                z-index: 3;
            }
        }
    }
}
@media (max-width:480px){
    .widget{
        margin: 20px 10px;
    }
}